.hero {
  width: 100%;
  overflow: hidden;
}


.hero-img {
  width: 100%;
  height: auto;
  display: block;
}

/*  */

.banner-section {
  width: 100%;
  /* padding: 40px 6%; */
  background: #ffffff;
  /* height: 450px; */
}

.banner-container {
  width: 100% ;
  /* border: 1px solid red; */
  /* border-radius: 22px; */
  overflow: hidden;
  box-shadow: 0 18px 40px rgba(2, 6, 23, 0.12);
  cursor: pointer;
}

.banner-container img {
  width: 100%;   
  height: auto;
  object-fit: cover;
  display: block;
  transition: 0.35s ease;
}

.banner-container:hover img {
  transform: scale(1.04);
}

/* meller banner */

.meller-banner-section {
  width: 100%;
  /* padding: 45px 6%; */
  background: #ffffff;

}

.meller-tittle-div{
  height: 300px;
  border: 2px solid red;
  display: flex;
  justify-content: center ;
  align-items: center;
  text-align: center;

}

.meller-title {
  font-size: 50px;
  font-weight: 900;
   font-family: "Inter", sans-serif;
   font-style: italic;
   font-weight: 700;
   text-transform: uppercase;
   margin-top: 0px;
  color: #000042;
  margin-top: 20px;


}

.meller-banner {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 18px 40px rgba(2, 6, 23, 0.12);
  margin-top: 30px;
}

.meller-banner img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
  transition: 0.35s ease;
}

.meller-banner:hover img {
  transform: scale(1.04);
}


/* Responsive */
@media (max-width: 900px) {
  .meller-banner-section {
    padding: 35px 5%;
  }

  .meller-title {
    font-size: 28px;
  }

  .meller-banner img {
    height: 240px;
  }
}

@media (max-width: 600px) {
  .meller-title {
    font-size: 22px;
  }

  .meller-banner img {
    height: 180px;
  }
}



/* Responsive */
@media (max-width: 900px) {
  .banner-container img {
    height: 240px;
  }
}

@media (max-width: 600px) {
  .banner-section {
    padding: 30px 5%;
  }

  .banner-container img {
    height: 190px;
  }
}
/*  */

@media (max-width: 768px) {
  .hero-img {
    object-fit: cover;
  }
}
